body {
    /* set margin to 0 and overflow to hidden, to go fullscreen */
    margin: 0;
    overflow: hidden;
    background-color: black;
}

#someidentifier {
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    color: #ffffff;
    font-family: Calibri;
}

#query {
    margin-left: 5px;
}

#info {
    position: absolute;
    width: 100%;
    padding: 5px;
    font-family: Monospace;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    z-index: 1;
}

#info a {
    text-decoration:none;
    color: #d4d2d2;
}

#info span {
    font-size: 1em;
    color: deepskyblue;
}

#info ul li {
    display:inline;
}

#info li {
    border-right: 1px solid white;
    margin-left: 0.4em;
}

#info li:first-child a {
    color: white;
}

#info li:last-child {
    border-right: 0px;
}


#info .slogon{
    color: #9a9898;
    font-size: .8em;
}


#weixin {
    font-size: 1em;
    color: white;
    position: fixed;
    right:0rem;
    bottom: 1rem;
    margin: 1rem;
}


#weixin ul{
    list-style-type:none;
    margin:0px;
    padding:0px;
    font-size: .8em;
}

#weixin img {
    width: 130px;
    height: 130px;
}

#demo {
    /*text-align: center;*/
    color: white;
    margin-bottom: 1em;
}

#demo img {
    width: 110px;
    height: 80px;
    opacity: 0.6;
    filter:alpha(opacity=60); /* 针对 IE8 以及更早的版本 */
}


#menu {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 1em;
}

#code {
    z-index: 1;
    position: absolute;
    font-size: 0.5em;
}
#code a {
    color: red;
}

.element {
    width: 161px;
    height: 100px;
    box-shadow: 0px 0px 12px rgba(0,255,255,0.5);
    text-align: center;
    border: 1px solid rgba(127,255,255,0.25);
    cursor: default;
}

.element:hover {
    box-shadow: 0px 0px 12px rgba(0,255,255,0.75);
    border: 1px solid rgba(127,255,255,0.75);
}


.element img {

    margin: 10px;
    object-fit: none; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    width: 141px;
    height: 80px;
}

.element .number {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 12px;
    color: rgba(127,255,255,0.75);
}

.element .symbol {
    position: absolute;
    top: 40px;
    left: 0px;
    right: 0px;
    font-size: 60px;
    font-weight: bold;
    color: rgba(255,255,255,0.75);
    text-shadow: 0 0 10px rgba(0,255,255,0.95);
}

.element .details {
    position: absolute;
    bottom: 15px;
    left: 0px;
    right: 0px;
    font-size: 12px;
    color: rgba(127,255,255,0.75);
}


button {
    color: rgba(127,255,255,0.75);
    background: transparent;
    outline: 1px solid rgba(127,255,255,0.75);
    border: 0px;
    padding: 5px 10px;
    cursor: pointer;
}
button:hover {
    background-color: rgba(0,255,255,0.5);
}
button:active {
    color: #000000;
    background-color: rgba(0,255,255,0.75);
}


@media screen and (max-width: 800px) { /*当屏幕尺寸小于600px时，应用下面的CSS样式*/
    #weixin {
        display: none;
    }

    #demo {
        display: none;
    }

    #code {
        display: none;
    }
}

